<a href="https://colab.research.google.com/github/br0mabs/data-puzzles-solutions/blob/main/Data_Puzzles_Speed_limit2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

The dataset loaded below represents a random sample of cars speed on certain roads.

Can you figure out what the speed limit is for each road?
Write back the sum of all roads speeds limits back on the data-puzzles webpage!

# Kickstart

In [ ]:
import pandas as pd

speeds_df = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/visualisation/speeds_data.csv')

In [ ]:
speeds_df.head()

      plate road  speed
0  DN9166SU  R87   49.7
1  CG4862ZS  R87   49.4
2  DV4956AM  R87   49.9
3  TL4125OA  R87   51.3
4  LX3827BI  R87   48.1

In [ ]:
# Your turn now! figure out the speed limit per road and add them up!

In [18]:
# we know what the speed limit of the road is (from the previous question)
# so for each car we use the table to find its road, and then we can query speed limit of the road
# and then return the one with the highest % deviation
# check the max to ensure its not anomalous

speed_limits = {}
speed_limits['R87'] = 50
speed_limits['R48'] = 70
speed_limits['R90'] = 100
speed_limits['R17'] = 90
speed_limits['R77'] = 130
speed_limits['R80'] = 30

In [22]:
largest_deviation = float("-inf")
license_plate = ""
for i in range(len(speeds_df)):
  pct_above = speeds_df.iloc[i]['speed'] / speed_limits[speeds_df.iloc[i]['road']] * 100
  if pct_above > largest_deviation:
    largest_deviation = pct_above
    license_plate = speeds_df.iloc[i]['plate']
(license_plate, largest_deviation)

('RQ3458CQ', np.float64(135.0))